/* @import "tailwindcss"; */



body {
  background-color: #f8fafc;
  color: var(--foreground);
  font-family: var(--font-geist-sans), Arial, Helvetica, sans-serif;
}

p,
a,
span {
  color: #0F172A;
}
